*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
}

.tab-box{
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 220px 20px 0px;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  width: 596px;
}

.tab-box .tab_btn{
    width: 125px;
    height: 30px;
    cursor: pointer;
}

.tab_btn.active{
    background-color: deepskyblue;
    transition: background-color 0.5s ease-in;
    border-bottom: 2px solid black;
}
.content-box{
    border: 1px solid black;
  padding: 15px;
  margin: -20px 4px 0px 0px;
}

.content{
    display: none;
    animation: fadeEffect 2s;
}

.content-msg{
    display: block;
}

.content-msg.active{
    display: none;
}

.content.active{
    display: block;
}
h3{
    margin-bottom: 8px;
}

@keyframes fadeEffect{
    from{
        opacity: 0;
    }
    t0{
        opacity: 1;
    }
}